body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #434455;
    background-color: #ffffff;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio-top {
    color: #2e2f42;
}

.first-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #2e2f42;
}
.first-link:hover {
    color: #404bbf;
}
.first-link:focus {
    color: #404bbf;
}

.page-address {
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}
.address-link {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover {
    color: #404bbf;
}
.address-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.page-button {
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.page-button:hover {
    background-color: #404BBF;
}
.page-button:focus {
    background-color: #404BBF;
}

.page-title-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.page-paragraph-one {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-three {
    background-color: #F4F4FD;
}

.page-title-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.image-list {
    background-color: #FFFFFF;
}

.page-title-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.page-paragraph-two {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-title-five {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.page-footer {
    background-color: #2e2f42;
}

.logo-studio-bottom {
    color: #f4f4fd;
}

.page-paragraph-three {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}